body {
  /* tipo de letra que va a usar body */
    font-family: Arial, sans-serif;
    /* Alinear texto al centro  */
    text-align: center;
    /* al cambiar de color va hacer una transicion de 0.3 segundos  */
    transition: background-color 0.3s, color 0.3s;
  }
  img {
    /* aplica un borde a la imagen de 10px en todas las direcciones */
    border-radius: 10px;
    /* aplica una altura de 300 pixeles a la imagen */
    height: 300px;
    /* aplica un ancho de 300 pixeles a la imagen  */
    width: 300px;
  }
  button {
    /* aplica color de fondo al boton(a eleccion) */
    background-color: #2196f3;
    /* aplica color de letra al boton(a eleccion) */
    color: white;
    /* aplica un relleno de 10 pixeles al boton */
    padding: 10px;
    /* aplica un borde de 0 pixeles al boton */
    border: none;
    /* aplica un cursor de tipo puntero al boton */
    cursor: pointer;
    /* aplica un margen de 10 pixeles al boton */
    margin-top: 10px;
    /* aplica un borde redondeado de 5 pixeles al boton */
    border-radius: 5px;
  }
  button:hover {
    /* al pasar el mouse por encima del boton cambia el color de fondo */
    background-color: #1976d2;
  }
  .dark-mode {
    /* aplica color de fondo al boton(a eleccion) */
    background-color: #333;
    /* aplica color de letra al boton(a eleccion) */
    color: white;
  }
  .contador {
    font-size: 1.5em;
    /* aplica un margen de 10 pixeles al contador */
    margin-top: 10px;
  }