body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: black;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
  }
  img {
    border-radius: 10px;
  }
  button {
    background-color: #2196f3;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
  }
  button:hover {
    background-color: #1976d2;
  }
  .dark-mode {
    background-color: #333;
    color: white;
  }
  .contador {
    font-size: 1.5em;
    margin-top: 10px;
  }